// Sfumature colori primari
$primary-color: #058283;
$light-primary-color: #daeced;
$dark-primary-color: #25656a;

// Sfumature colore testo
$light-text-color: #c0c3d0;
$text-color: gray;
$dark-text-color: #202427;

// Colori sfondo
$bg-gray: #eef4ed;
$bg-black: #111117;

// Sfondo titolo dark
$dark-bg-title: #0e272d;