$height-header: 45px;
$primary-color: #058283;
$light-primary-color: #daeced;
$dark-primary-color: #115353;

$light-text-color: #c0c3d0;
$text-color: gray;
$dark-text-color: #202427;

$bg-gray: #eef4ed;
$bg-black: #111117;